# Homework #6

### Question 1  <span style = 'font-size: 80%'>[10 points]</span>

Write your name in the Markdown cell below and highlight it in yellow.

### Name:

### Question 2  <span style = 'font-size: 80%'>[10 points]</span>

Use three variables to store your first name, last name, and the number of courses you are taking. Then output a statement of the form

```
Mary Smith is taking 4 classes
```

where Mary, Smith, and 4 are stored in the 3 variables.

### Question 3 <span style = 'font-size: 80%'>[20 points]</span>

Use the list below to answer the following questions:

In [ ]:
courses = ['CSC 210', 'MAT 135', 'MAT 243', 'MAT 244', 'CSC 231', 'CSC 301', 'CSC 450'] 
courses

a)	Use the *len* function to output the number of courses in the list

b) Use a loop to iterate through each course in the list and output all CSC courses (these are courses that contain 'CSC').

c) Use a loop to iterate through each course in the list and output all courses that are 200 level or higher. Hint: For a single course, e.g., 


```python
course = 'CSC 301', 
```

then the code `course.split()` returns a list containing two elements, 'CSC' and '301'. In addition, for a string `s = '301'`, obtaining the first character of s using slicing will return '3'. Finally, if needed, you can convert a string to an integer using the int() function.

### Question 4 <span style = 'font-size: 80%'>[10 points]</span>

Use list comprehension to create a list named *csc* that contains only the CSC courses from the *courses* list.

### Question 5 <span style = 'font-size: 80%'>[10 points]</span>

Create a Python dictionary for at least 3 courses that allows someone to look up the time of the course. For example, looking up 'CSC-301'  would return 'MWF 11:00 â€“ 11:50'.

Then use the code below to prompt a user to enter the name of a course, which is stored in the variable *userCourse*. Then either output the time the course is offered or output 'Course not found' if the course is not in the dictionary.

```python
userCourse = input('Enter a course: ')
```